* {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #101010;
}

.logo,
.title-menu h1 {
  font-family: "Shrikhand";
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

.presentation p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}

.card-content h2 {
  font-size: 18px;
  font-weight: 700;
}
.card-content p {
  font-size: 17px;
  font-weight: 300;
}

.fonctionnement .content {
  gap: 10px;
  font-size: 14px;
}

.fonctionnement .content {
  gap: 20px;
  font-size: 16px;
}

.title-menu h1 {
  font-size: 28px;
}

.menu-cards h2 {
  font-size: 16px;
  font-weight: 300;
}

.menu-cards h3 {
  font-size: 16px;
  font-weight: 500;
}

.menu-cards p {
  font-size: 14px;
  font-weight: 300;
}

.price {
  font-weight: bold;
}

.btn-gradient {
  font-size: 16px;
  font-weight: 500;
  color: white;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 218px;
  margin-top: 27px;
}
.btn-gradient:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.9);
}

.menu-btn-gradient {
  font-size: 16px;
  font-weight: 500;
  color: white;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 186px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.menu-btn-gradient:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.9);
}

.btn {
  display: flex;
  align-self: center;
  align-items: center;
  width: 280px;
  height: 73px;
  margin-top: 25px;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.loader-bg {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #99E2D0;
  animation: fadeout 1s 4s forwards;
}
.loader-bg i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 30px;
  color: #99E2D0;
  background-image: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-top: 15px solid #9356DC;
  border-right: 15px solid #FF79DA;
  border-bottom: 15px solid #9356DC;
  border-left: 15px solid #FF79DA;
  border-radius: 100px;
  animation: loader-anim 1.5s alternate infinite;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-anim {
  from {
    transform: translate(-50%, -50%) rotate(0) scale(1);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.8);
  }
}
.header-accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
}
.header-accueil .logo {
  display: flex;
  margin: auto;
}

.header-menu {
  position: relative;
  display: flex;
  justify-content: center;
  height: 63px;
}
.header-menu .logo {
  display: flex;
  margin: auto;
}
.header-menu .go-back {
  position: absolute;
  top: 30%;
  left: 4%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
  row-gap: 16px;
}
footer .logo {
  color: white;
  font-size: 18px;
}
footer li {
  list-style-type: none;
  margin-bottom: 7px;
}
footer a {
  color: white;
}
footer .font {
  font-weight: 500;
}

.footer-menu {
  position: relative;
  margin-top: -55px;
}

@media screen and (min-width: 1024px) and (max-width: 2560px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
    padding: 30px 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  footer .logo {
    padding-bottom: 10px;
  }
  ul {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.location {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}
.location form {
  display: flex;
  margin: auto;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.location form input {
  background-color: #EAEAEA;
  border: none;
}
.location form input::-moz-placeholder {
  color: #101010;
  opacity: 1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}
.location form input::placeholder {
  color: #101010;
  opacity: 1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.presentation {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  height: 287px;
  text-align: center;
  justify-content: center;
}
.presentation h1 {
  padding: 0 58px 18px 42px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
  padding-top: 48px;
}
.fonctionnement .title {
  margin-left: 20px;
}
.fonctionnement__btn {
  display: flex;
  flex-direction: column;
}
.fonctionnement__btn .ellipse {
  position: relative;
  right: 10px;
}
.fonctionnement__btn .number {
  color: white;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  right: 27px;
  bottom: 0.2px;
}
.fonctionnement__btn .content {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

/**** section restaurants  ****/
.restaurants {
  background-color: #F6F6F6;
}
.restaurants .title {
  padding-top: 54px;
  margin-left: 20px;
}

.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  padding: 20px 20px 66px 20px;
}

.restaurants__cards .card {
  position: relative;
  height: 251px;
  background-color: white;
  border-radius: 15px;
}
.restaurants__cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 174px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards .card .badge {
  position: absolute;
  bottom: 80%;
  left: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-weight: 500;
}
.restaurants__cards .card .card-content {
  height: 77px;
  padding: 16px 0 12px 13px;
}
.restaurants__cards .card .card-content i {
  position: absolute;
  left: 80%;
  top: 80%;
  font-size: 22px;
}
.restaurants__cards .card .card-content .fa-solid {
  color: transparent;
  opacity: 0;
  transition: all 1s linear;
}
.restaurants__cards .card .card-content .fa-solid:hover {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    height: auto;
    padding: 50px 15px;
  }
  .fonctionnement .title {
    padding-left: 20px;
    margin: 0;
  }
  .fonctionnement__btn {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    font-size: 14px;
  }
  .restaurants {
    padding: 30px;
  }
  .restaurants .title {
    margin: 0;
  }
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 28px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  .presentation {
    height: auto;
    padding: 30px 0 30px 0;
  }
  .fonctionnement {
    padding: 50px 180px;
  }
  .fonctionnement .title {
    padding-left: 0;
  }
  .fonctionnement .btn {
    width: 300px;
  }
  .restaurants {
    padding: 30px 180px;
    height: auto;
  }
  .restaurants .title {
    padding: 0;
    margin: 0;
  }
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
  .restaurants__cards .card {
    width: 100%;
  }
  .restaurants__cards .card .badge {
    position: absolute;
    left: 70%;
  }
}
.menu-restaurant {
  position: relative;
  background-color: white;
}
.menu-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}

.menu {
  position: relative;
  bottom: 55px;
  width: 100%;
  padding-bottom: 5px;
  background-color: #F6F6F6;
  border-radius: 55px 55px 0 0;
}

.title-menu {
  position: relative;
  padding: 30px 0 0 15px;
}
.title-menu i {
  position: absolute;
  left: 90%;
  bottom: 9px;
  font-size: 22px;
}
.title-menu .fa-solid {
  color: transparent;
  opacity: 0;
  transition: all 1s linear;
}
.title-menu .fa-solid:hover {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.entrees {
  animation: fadein 1s ease-in;
}

.plats {
  animation: fadein 1.5s ease-in;
}

.desserts {
  animation: fadein 2s ease-in;
}

@keyframes fadein {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.menu-cards {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 40px;
}
.menu-cards h2 {
  position: relative;
  margin-bottom: 15px;
}
.menu-cards h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border: 2px solid #99E2D0;
  width: 40px;
}
.menu-cards .card {
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
  gap: 5px;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards .card .card-txt {
  padding-left: 15px;
  position: relative;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards .card .card-txt h3,
.menu-cards .card .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards .card .price {
  display: flex;
  padding-right: 20px;
}
.menu-cards .card .check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  width: 59px;
  margin-right: -60px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
}
.menu-cards .card .check .fa-check {
  border-radius: 30px;
  color: #99E2D0;
  background-color: white;
  padding: 5px;
}
.menu-cards .card:hover .check,
.menu-cards .card:hover .price {
  animation: slide-left 0.5s ease-in forwards;
}
.menu-cards .card:hover .fa-check {
  animation: rotate-check 0.5s ease-in;
}

@keyframes slide-left {
  from {
    margin-right: -60px;
  }
  to {
    margin-right: 0px;
  }
}
@keyframes rotate-check {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 768px) {
  .title-menu h1 {
    text-align: center;
    padding-top: 50px;
  }
  .title-menu i {
    left: 80%;
  }
  .menu {
    width: 80%;
    margin: auto;
  }
  .menu-cards {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  .menu-restaurant img {
    height: 450px;
  }
  .title-menu i {
    left: 70%;
  }
  .menu-cards {
    padding-left: 25%;
    padding-right: 25%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */