  
  
  
  $main-bg-color: #F6F6F6;
  $main-color-btn-gradient: #9356DC;
  $second-color-btn-gradient: #FF79DA;
  $pin-bg-color: #99E2D0;
  $pin-txt-color: #008766;
  $white: #FFFF;
  $black: #101010;
  $footer-bg-color: #353535;
  $grey: #EAEAEA;
  