* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #101010;
}

h1 {
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
}
header .logo {
  display: flex;
  margin: auto;
}
header .location {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}
header .location form {
  display: flex;
  margin: auto;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
header .location form input {
  background-color: #EAEAEA;
  border: none;
}
header .location form input::-moz-placeholder {
  color: #101010;
  opacity: 1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}
header .location form input::placeholder {
  color: #101010;
  opacity: 1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.presentation {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  height: 287px;
  text-align: center;
  justify-content: center;
}
.presentation h1 {
  padding: 0 58px 18px 42px;
}
.presentation p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}
.presentation .btn-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 27px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.presentation .btn-gradient:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.9);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
  padding-top: 48px;
}
.fonctionnement h1 {
  padding-left: 20px;
}
.fonctionnement__btn {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.fonctionnement__btn .btn {
  display: flex;
  align-self: center;
  align-items: center;
  width: 280px;
  height: 73px;
  margin-top: 25px;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__btn .btn .ellipse {
  position: relative;
  right: 10px;
}
.fonctionnement__btn .btn .number {
  position: relative;
  right: 27px;
  bottom: 0.2px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.fonctionnement__btn .btn .content {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

/**** section restaurants  ****/
.restaurants {
  height: 1200px;
  background-color: #F6F6F6;
}
.restaurants h1 {
  padding: 54px 0 0 20px;
}

.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  padding: 20px;
}

.restaurants__cards .card {
  position: relative;
  height: 251px;
  background-color: white;
  border-radius: 15px;
}
.restaurants__cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 174px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards .card .badge {
  position: absolute;
  bottom: 80%;
  left: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-weight: 500;
}
.restaurants__cards .card .card-content {
  position: relative;
  height: 77px;
  padding: 16px 0 12px 13px;
}
.restaurants__cards .card .card-content h2 {
  font-size: 18px;
  font-weight: 700;
}
.restaurants__cards .card .card-content p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__cards .card .card-content i {
  position: absolute;
  left: 85%;
  bottom: 45%;
  font-size: 22px;
}
.restaurants__cards .card .card-content .fa-solid {
  content: "\f004";
  color: transparent;
  opacity: 0;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
  transition: all 2s ease-in-out;
}
.restaurants__cards .card .card-content .fa-solid:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .restaurants__cards .card .fonctionnement {
    height: auto;
    padding-bottom: 50px;
  }
  .restaurants__cards .card .fonctionnement__btn {
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurants__cards .card .fonctionnement__btn .btn {
    width: 235px;
  }
  .restaurants__cards .card .fonctionnement__btn .btn .content {
    gap: 10px;
    font-size: 15px;
  }
  .restaurants__cards .card .restaurants__cards {
    padding: 28px 100px;
  }
  .restaurants__cards .card .restaurants__cards .card .badge {
    position: absolute;
    left: 85%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .restaurants__cards .card .presentation {
    height: auto;
    padding: 30px 0 30px 0;
  }
  .restaurants__cards .card .fonctionnement {
    padding: 0 180px 30px 180px;
  }
  .restaurants__cards .card .fonctionnement h1 {
    text-align: left;
  }
  .restaurants__cards .card .fonctionnement__btn {
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-top: 25px;
  }
  .restaurants__cards .card .fonctionnement__btn .btn {
    width: 300px;
  }
  .restaurants__cards .card .fonctionnement__btn .btn .content {
    gap: 20px;
    font-size: 16px;
  }
  .restaurants__cards .card .restaurants {
    height: auto;
    padding: 0 180px 30px 180px;
    padding-bottom: 30px;
  }
  .restaurants__cards .card .restaurants h1 {
    padding-left: 180px;
    margin-bottom: 28px;
  }
  .restaurants__cards .card .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
    padding: 0 180px;
  }
  .restaurants__cards .card .restaurants__cards .card {
    width: 100%;
  }
  .restaurants__cards .card .restaurants__cards .card .badge {
    position: absolute;
    left: 70%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
  row-gap: 16px;
}
footer .logo {
  font-family: "Shrikhand";
  color: white;
  font-size: 18px;
}
footer li {
  list-style-type: none;
  margin-bottom: 7px;
}
footer a {
  color: white;
}
footer .font {
  font-weight: 500;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
    padding: 30px 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  footer .logo {
    padding-bottom: 10px;
  }
  ul {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}/*# sourceMappingURL=main.css.map */