@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font-family;
  
}

.main-container {
    width: 100%;
    max-width: 1440px;
}

a {
    text-decoration: none;
    color: $black-color;
}

h1 {
    font-weight: 700;
}

.logo, .title-menu {
    font-family: $secondary-font-family;
}


/**** version mobile ****/

@media screen and (min-width: 320px) and (max-width: 767.98px) {

    @import "_header.scss";

    .presentation {
        display: flex;
        flex-direction: column;
        background-color: $main-bg-color;
        height: 287px;
        text-align: center;
        justify-content: center;
        h1 {
        margin-right: 58px;
        margin-left: 42px;
        margin-bottom: 18px;
    }
        p {
        color: $footer-bg-color;
        font-size: 18px;
        font-weight: 300;
    }
        .btn-gradient { 
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;     
        margin-top: 27px; 
        font-size: 16px;
        font-weight: 500;
        color: $white-color;
        width: 218px;
        height: 50px;   
        border-radius: 25px;
        background: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);       
    }
  
}
 
    .fonctionnement {
        display: flex;
        flex-direction: column;
        height: 440px;
        padding-top: 48px;
        h1 {
            padding-left: 20px;
        }
        .btn {
            display: flex;
            align-self: center;
            align-items: center;
            width: 80%;
            height: 73px;
            margin-top: 25px;
            background-color: $main-bg-color;
            border: 1px solid $main-bg-color;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        }
        .ellipse {
            position: relative;
            right: 10px;          
        }
        .number {
            position: relative;
            right: 27px;
            bottom: 0.2px;
            color: $white-color;
            font-size: 14px;
            font-weight: 500;
        }
        .content {
            display: flex;
            justify-content: center;
            column-gap: 20px;
            font-weight: 500;
        }    
    }
       

    /**** section restaurants  ****/

    .restaurants {
        height: 1200px;
        background-color: $main-color-btn-gradient;
        h1 {
            padding: 54px 0 0 20px;
        }
    }

    .restaurants__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 18px;
        padding: 20px;
        .card {
            height: 251px;
            background-color: $white-color;
            border-radius: 15px;
            img {
                object-fit: cover;
                height: 174px;
                width: 100%;
                border-radius: 15px 15px 0 0;
            }
        }
        .card-txt {
            h2 {
                font-size: 18px;
                font-weight: 700;
                }
            p {
                font-size: 17px;
                font-weight: 300;
                }
            .default-heart {
                height: 21px;
                width: 22px;
            }
        }
    }
    
        
  
     
     
    

    


    

    /* .restaurants__content {
        display: flex;
        flex-direction: column;
    } */

    


    @import "_footer.scss";

}