footer {
    @include flex-column;
    position: relative;
    background-color: $dark-grey-color;
    padding: 22px 25px;
    row-gap: 16px;
    margin-top: -55px;

    .logo {
        color: $white-color;
        font-size: 18px;
    }

    li {
        list-style-type: none;
        margin-bottom: 7px;
    }

    a {
        color: $white-color;
    }

    .font {
        font-weight: 500;
    }
}


@media screen and (min-width: 1024px) and (max-width: 2560px) {

    footer {
        flex-direction: row-reverse;
        align-items: center;
        height: 114px;
        padding: 30px 25px;
        column-gap: 25px;

        .logo {
            padding-bottom: 10px;
        }
    }

    ul {
        display: flex;
        column-gap: 16px;
    }
}