.header-accueil {
    @include flex;
    justify-content: center;
    height: 113px;

    .logo {
        @include header-logo;
    }
}

.header-menu {
    position: relative;
    display: flex;
    justify-content: center;
    height: 63px;

    .logo {
        @include header-logo;
    }

    .go-back {
        position: absolute;
        top: 30%;
        left: 4%;
    }

}