* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color: #99E2D0;
    --white: #FFFF;
    --black: #101010;
    --bg-main: #F6F6F6;
    --grey: #EAEAEA;
    --pin-font-color: #008766;
    --footer-bg-color: #353535;

    font-family: "Roboto";
}

.main-container {
    width: 100%;
    max-width: 1440px;
}

.logo {
    font-family: "Shrikhand";
    font-size: 30px;
    display: flex;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1 {
    font-weight: 700;
}





/**** version mobile ****/

@media screen and (min-width: 320px) and (max-width: 767.98px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 113px;
    }

    header .location {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #EAEAEA;
    }

    header form {
        display: flex;
        margin: auto;
        column-gap: 17px;
    }

    header input {
        color: var(--black);
        background-color: var(--grey);
        border: none;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
    }

    input::placeholder {
        text-align: center;
        color: black;
        opacity: 1;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
        height: 287px;
        text-align: center;
        justify-content: center;
    }

    .presentation h1 {
        margin-right: 58px;
        margin-left: 42px;
        margin-bottom: 18px;
    }

    .presentation p {
        margin-right: 26px;
        margin-left: 34px;
        color: var(--footer-bg-color);
        font-size: 18px;
        font-weight: 300;
    }

    .presentation .btn-gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 218px;
        height: 50px;
        margin-top: 27px;
        font-size: 16px;
        font-weight: 500;
        color: var(--white);
        border-radius: 25px;
        background: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .steps {
        display: flex;
        flex-direction: column;
        height: 440px;
        padding-top: 48px;
    }

    .steps h1 {
        padding-left: 20px;
    }

    .steps .btn {
        display: flex;
        align-self: center;
        align-items: center;
        width: 80%;
        height: 73px;
        margin-top: 25px;
        background-color: var(--bg-main);
        border: 1px solid var(--bg-main);
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }

    .steps .ellipse {
        position: relative;
        right: 10px;
    }

    .steps .number {
        position: relative;
        right: 27px;
        bottom: 0.2px;
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
    }

    .steps .content {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        font-weight: 500;
    }

    .restaurants {
        height: 500px;
        background-color: var(--main-color);

    }

    .restaurants-cards {
        width: 100%;
        height: 251px;
        padding: 20px;
        background-color: var(--white);
        border-radius: 15px;
    }

    .restaurants-cards img {
        height: 231px;
        border-radius: 15px 15px 0 0;

    }




















    footer {
        display: flex;
        flex-direction: column;
        background-color: var(--footer-bg-color);
        padding: 22px 25px;
        row-gap: 16px;
    }

    footer .logo {
        color: var(--white);
        font-size: 18px;
    }

    footer li {
        list-style-type: none;
        margin-bottom: 7px;
    }

    footer a {
        color: var(--white);
    }


    /**** version desktop ****/










}