.menu-restaurant {
    position: relative;
    background-color: $white-color;

    img {
        object-fit: cover;
        height: 275px;
        width: 100%;
    }
}

.menu {
    position: relative;
    bottom: 55px;
    width: 100%;
    background-color: $main-bg-color;
    border-radius: 55px 55px 0 0;
}

.title-menu {
    position: relative;
    padding: 30px 0 0 15px;

    i {
        position: absolute;
        left: 90%;
        bottom: 9px;
        font-size: 22px;
    }

    .fa-solid {
        @include fill-heart;
    }

}

.menu-cards {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;

    h2 {
        position: relative;
        margin-bottom: 15px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            border: 2px solid $green-color;
            width: 40px;
        }
    }

    .card {
        @include flex;
        position: relative;
        height: 69px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        padding: 15px;
        margin-bottom: 12px;
        gap: 5px;
        background-color: $white-color;

        .price {
            position: absolute;
            left: 88%;
            bottom: 43%;
        }

        .select-btn {
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 0;
            height: 69px;
            width: 59px;
            text-overflow: ellipsis;

            &:hover {
                visibility: visible;
            }
        }
    }
}

.entrees-card {
    animation: fadein 1s ease-in;
}

.plats-card {
    animation: fadein 1.5s ease-in;
}

.desserts-card {
    animation: fadein 2s ease-in;
}

@keyframes fadein {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;

    }
}


// version tablette

@media screen and (min-width: 768px) {


    .title-menu h1 {
        text-align: center;
        padding-top: 50px;
    }

    .title-menu i {
        left: 80%;
    }

    .menu {
        width: 80%;
        margin: auto;
    }

    .menu-cards {
        padding-left: 15%;
        padding-right: 15%;

    }
}



// version desktop

@media screen and (min-width: 1024px) and (max-width: 2560px) {

    .menu-restaurant img {
        height: 450px;
    }

    .title-menu i {
        left: 70%;
    }

    .menu-cards {
        padding-left: 25%;
        padding-right: 25%;

    }



}