.entrees {
    animation: fadein 1s ease-in;
}

.plats {
    animation: fadein 1.5s ease-in;
}

.desserts {
    animation: fadein 2s ease-in;
}

@keyframes fadein {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;

    }
}

.menus-cards {

    &:hover {

        .check,
        .price {
            animation: slide-left 0.8s ease-in forwards;
        }

        .fa-check {
            animation: rotate-check 0.9s ease-in;


        }
    }
}


@keyframes slide-left {
    from {
        margin-right: -60px;
    }

    to {
        margin-right: 0px;
    }
}

@keyframes rotate-check {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }

}