@mixin btn-gradient-features {

    font-size: 16px;
    font-weight: 500;
    color: $white-color;
    width: 218px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: $btn-gradient-bg;
    box-shadow: $btn-shadow;
}

@mixin menu-btn-gradient-features {
    font-size: 16px;
    font-weight: 500;
    color: $white-color;
    width: 186px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: $btn-gradient-bg;
    box-shadow: $btn-shadow;

}