  $main-bg-color: #F6F6F6;
  $main-color-btn-gradient: #9356DC;
  $second-color-btn-gradient: #FF79DA;
  $pin-bg-color: #99E2D0;
  $pin-txt-color: #008766;
  $white-color: #FFFF;
  $black-color: #101010;
  $dark-grey-color: #353535;
  $grey-color: #EAEAEA;
  $btn-gradient-bg: linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%);
  $btn-shadow : 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  $btn-shadow-hover : 0px 4px 10px 0px rgba(0, 0, 0, 0.9);
  $main-font-family: "Roboto";
  $secondary-font-family: "Shrikhand";